.btn-primary {
  background-color: white;
  border-radius: 2px;
  border: 2px solid #c67e08;
  padding: 7px 30px;
  color: #955f06;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #fbd89f;
  border-color: #955f06;
  color: #643f04;
}
.btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
  background-color: #955f06;
  border-color: #955f06;
  color: white;
}

.btn-secondary {
  background-color: white;
  border-radius: 2px;
  border: 2px solid #29a1bd;
  padding: 7px 30px;
  color: #207d93;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #c1e8f1;
  border-color: #207d93;
  color: #175969;
}
.btn-secondary:active, .btn-secondary:active:hover, .btn-secondary:active:focus {
  background-color: #207d93;
  border-color: #207d93;
  color: white;
}

footer a {
  color: #955f06;
  text-decoration: underline;
}

#bs-example-navbar-collapse-1 ul li a {
  color: #171717;
}
#bs-example-navbar-collapse-1 ul li a:hover {
  color: #666666;
}
#bs-example-navbar-collapse-1 ul li.active a {
  color: #666666;
}

.hero .about h1, .interior-content h2.title, .interior-content h2 {
  color: #1b687a;
}

#bs-example-navbar-collapse-1 ul li.active a {
  color: #666;
}

.interior-content a {
  text-decoration: underline;
  color: #955f06;
}

.skip-link.visually-hidden.focusable {
  background-color: #207d93;
  color: white;
}

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  padding: 1em;
  top: 1em;
  left: 1em;
  z-index: 1;
  display: inline-block;
}

@media (min-width: 768px) {
  .interior-content {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .interior-content {
    width: 1440px;
  }
}
@media screen and (max-width: 992px) {
  .interior-content {
    padding: 0;
  }
}

.interior-content p, .interior-content ul, .interior-content ol, #comparisonchart th, #comparisonchart td, .cwd-scrolling-table {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#comparisonchart th, #comparisonchart td {
  padding: 12px;
}

#comparisonchart thead th, #comparisonchart thead td, .floating-col-header > div {
  white-space: nowrap;
  background-color: #5A8128;
}

.cwd-scrolling-table .floating-row-header {
  background-color: whitesmoke;
}

.hero, .hero:hover {
  background-image: url("../images/bg-hero-home-t.jpg") !important;
}

.hero .about {
  padding: 0 12px;
}

.questions-header {
  padding: 10px 0 22px;
  margin-bottom: 20px;
  border-bottom: 2px dashed #dedede;
}

.services-header {
  padding-bottom: 15px;
}

.interior-content h3, .interior-content .h3 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}

.services-header h3 {
  position: relative;
  text-indent: 30px;
  margin-left: -3px !important;
}
@media (max-width: 768px) {
  .services-header h3 {
    margin-left: 0 !important;
    text-indent: 0;
  }
}

.services-header h3 .fa {
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 24px;
  color: #29a1bd;
  opacity: 0.4;
  text-indent: 0;
}
@media (max-width: 768px) {
  .services-header h3 .fa {
    display: none;
  }
}

@media (max-width: 768px) {
  .btn-secondary {
    padding: 7px 24px;
  }
}

.services-header .btn-secondary {
  margin: 4px 0;
}

.step-1 + button {
  margin-top: 1.75em;
}

.title {
  margin: 1.5em 0 0.35em;
}

.title + .lead {
  color: #757575;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  margin-bottom: 1em;
}

.cert {
  position: relative;
  text-indent: 24px;
  color: #5A8128;
}

.cert .fa {
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 22px;
  color: #7ab034;
  opacity: 0.68;
  text-indent: 0;
}

.app-title {
  margin-bottom: 2em;
}

h2.sub-heading {
  font-size: 24px;
  margin: 1em 0 1em;
}

h2.sub-heading.heading-services {
  margin-bottom: 0.5em;
}

.section-break {
  border-color: #00b7ac;
  opacity: 0.2;
  border-top-width: 3px;
  margin-top: 30px;
}

.section-break.dashed {
  border-style: dashed;
}

.email-options {
  margin-bottom: 0.75em;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.email-options legend {
  font-size: 1em;
  border-bottom: none;
  margin-bottom: 10px;
}

#questionlist {
  font-size: 1em;
  padding-left: 2em;
}
#questionlist li {
  color: #207d93;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-left: 2px;
}
#questionlist .question-wrapper {
  margin: 10px 0;
}
#questionlist .question-wrapper h4 {
  display: inline;
}
#questionlist h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
}
#questionlist label {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #333;
}
#questionlist input[type="checkbox"] {
  margin-top: 3px;
}
#questionlist .control-indicator {
  font-family: "FontAwesome";
  text-decoration: none;
  color: #757575;
  font-weight: normal;
}
#questionlist .control-indicator::before {
  content: '\f05a';
  display: inline-block;
}
#questionlist .control-indicator:hover::before {
  color: #8d8d8d;
}
#questionlist .control-indicator:active::before {
  color: #5a5a5a;
}
#questionlist .explanation {
  color: #757575;
  font-weight: normal;
  margin-bottom: 10px;
}
#questionlist .explanation, #questionlist .explanation p, #questionlist .explanation li {
  font-size: 13px;
}
#questionlist .explanation p, #questionlist .explanation li {
  margin-bottom: initial;
}
#questionlist .explanation .panel-title, #questionlist .explanation .panel-body {
  font-size: 12px;
  padding: 10px;
  margin: 0;
}
#questionlist .explanation .panel-heading {
  margin: 0;
  padding: 0;
  background-color: #95789d;
}
#questionlist .explanation .panel-heading, #questionlist .explanation .panel-primary {
  border-color: #5f4a65;
}

.mismatch {
  opacity: 0.35;
}

#rdmsg-services {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -0.25em;
  padding: 0.25em 0;
}
#rdmsg-services .service-panel {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.25em;
  width: calc(20% - 0.5em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#rdmsg-services .service-panel:focus-within {
  -webkit-box-shadow: 0px 0px 0px 4px #9dccfd;
  -moz-box-shadow: 0px 0px 0px 4px #9dccfd;
  box-shadow: 0px 0px 0px 4px #9dccfd;
  border-radius: 0.5em;
}
#rdmsg-services .service-panel label {
  position: relative;
  width: 100%;
  flex-basis: auto;
  padding: 1em;
  margin-bottom: 1px;
}
#rdmsg-services .service-panel input {
  position: absolute;
  left: -9999px;
}
#rdmsg-services .service-panel input ~ .control-indicator {
  margin: 0;
  background-color: #f2eef3;
  border: 2px #c3b3c8 solid;
  border-radius: 0.25em;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  font-size: 2em;
}
#rdmsg-services .service-panel input ~ .control-indicator::before {
  content: "\f10c";
  font-family: "FontAwesome";
  display: block;
  color: #7b5f83;
  font-weight: normal;
  margin-left: 0.25em;
  position: absolute;
  top: 10px;
  right: 10px;
}
#rdmsg-services .service-panel input:checked ~ .control-indicator {
  background-color: #c3b3c8;
}
#rdmsg-services .service-panel input:checked ~ .control-indicator::before {
  content: "\f058";
  color: #443448;
}
#rdmsg-services .service-panel input:checked ~ h4, #rdmsg-services .service-panel input:checked ~ p {
  color: #513f57;
}
@media screen and (max-width: 1440px) {
  #rdmsg-services .service-panel {
    width: calc(25% - 0.5em);
  }
}
@media screen and (max-width: 1200px) {
  #rdmsg-services .service-panel {
    width: calc(33% - 0.5em);
  }
}
@media screen and (max-width: 992px) {
  #rdmsg-services .service-panel {
    width: calc(50% - 0.5em);
  }
}
#rdmsg-services .service-panel h4, #rdmsg-services .service-panel p {
  color: #6d5474;
  margin: 0;
}
#rdmsg-services .service-panel h4 {
  font-size: 18px;
}
@media (max-width: 768px) {
  #rdmsg-services .service-panel h4 {
    font-size: 15px;
  }
}
#rdmsg-services .service-panel .service-title {
  padding: 0;
  padding-right: 1.8em;
}
#rdmsg-services .service-panel .service-title + p {
  margin-top: 10px;
}
#rdmsg-services .service-panel p {
  font-size: 12px;
  padding-right: 1.8em;
}

.comparisonlist-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1em 0;
}
.comparisonlist-wrapper input {
  position: absolute;
  left: -9999px;
}
.comparisonlist-wrapper input + .control-indicator::before {
  content: "\f111";
  font-family: "FontAwesome";
  display: block;
  color: #c3b3c8;
  margin-left: 0.25em;
}
.comparisonlist-wrapper input:checked + .control-indicator::before {
  content: "\f058";
  color: #95789d;
}
.comparisonlist-wrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25em 0.4em 0.2em;
  margin: 0.25em;
  color: #7b5f83;
  border: 1px solid #c3b3c8;
  margin: 0.25em;
  border-radius: 0.25em;
  cursor: pointer;
}
.comparisonlist-wrapper label:focus-within {
  -webkit-box-shadow: 0px 0px 0px 4px #9dccfd;
  -moz-box-shadow: 0px 0px 0px 4px #9dccfd;
  box-shadow: 0px 0px 0px 4px #9dccfd;
  border-radius: 0.5em;
}

.jump-to-chart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  background: #207d93;
  z-index: 2;
  display: none;
}
.jump-to-chart p {
  color: white;
}
.jump-to-chart p span {
  font-size: 120%;
}

.btn-compare-results {
  white-space: nowrap;
}

.pager {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: white;
}
.pager button {
  margin: 0.5em;
}
.pager .previous button {
  float: left;
}
.pager .next button {
  float: right;
}

.popup .fa.fa-info-circle {
  font-family: "FontAwesome";
  text-decoration: none;
  color: #757575;
  font-weight: normal;
  font-size: 1.4em;
}
.popup .fa.fa-info-circle::before {
  content: '\f05a';
}
.popup .fa.fa-info-circle:hover::before {
  color: #8d8d8d;
}
.popup .fa.fa-info-circle:active::before {
  color: #5a5a5a;
}

.cd-row {
  display: flex;
}
@media screen and (max-width: 768px) {
  .cd-row {
    display: block;
  }
}

.cd-row:first-of-type .cd-cell {
  vertical-align: bottom;
  padding-bottom: 15px;
}

#app .cd-row:last-of-type .cd-cell:first-child {
  background: radial-gradient(ellipse at right center, rgba(180, 225, 212, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
}
@media screen and (max-width: 768px) {
  #app .cd-row:last-of-type .cd-cell:first-child {
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .cd-cell {
    display: block;
    width: 100%;
  }
}

.cd-cell:last-child {
  padding-left: 3%;
}
@media screen and (max-width: 768px) {
  .cd-cell:last-child {
    padding-left: 0;
  }
}

.cd-questions {
  position: relative;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .cd-questions {
    position: static;
    width: 100%;
  }
}

.cd-services {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .cd-services {
    width: 100%;
  }
}

.cd-overflow {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-right: 1.5em;
}
@media screen and (max-width: 768px) {
  .cd-overflow {
    position: static;
    width: 100%;
    height: auto;
    overflow: visible;
    padding-right: 0;
  }
}

.services-header {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .services-header {
    display: block;
  }
}
.services-header h3 {
  margin: 0 1em 0 0;
}
@media screen and (max-width: 768px) {
  .services-header h3 {
    margin: 1em 0;
  }
}
.services-header div:first-of-type {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .services-header div:last-of-type {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 768px) {
  .services-header div {
    width: 100%;
    align-items: flex-start;
  }
}

.form-control {
  border-color: #757575;
}
/*# sourceMappingURL=customizations.css.map */
