.btn-primary {
  background-color: white;
  border-radius: 2px;
  border: 2px solid #11c3f4;
  padding: 7px 30px;
  color: #099fc9; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #d4f4fd;
    border-color: #099fc9;
    color: #077898; }
  .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
    background-color: #099fc9;
    border-color: #099fc9;
    color: white; }

.btn-secondary {
  background-color: white;
  border-radius: 2px;
  border: 2px solid #a7804d;
  padding: 7px 30px;
  color: #84653d; }
  .btn-secondary:hover, .btn-secondary:focus {
    background-color: #ebe1d5;
    border-color: #84653d;
    color: #614a2d; }
  .btn-secondary:active, .btn-secondary:active:hover, .btn-secondary:active:focus {
    background-color: #84653d;
    border-color: #84653d;
    color: white; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: initial; }

body.path-finder, body.path-finder .table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

footer a {
  color: #b24800;
  text-decoration: underline; }

#bs-example-navbar-collapse-1 ul li a {
  color: #171717; }
  #bs-example-navbar-collapse-1 ul li a:hover {
    color: #666666; }

#bs-example-navbar-collapse-1 ul li.active a {
  color: #666666; }

.table {
  margin-top: 0; }

.hero .about h1, .interior-content h2.title, .interior-content h2 {
  color: #6f5533; }

#bs-example-navbar-collapse-1 ul li.active a {
  color: #666; }

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.interior-content a {
  text-decoration: underline;
  color: #b24800; }

.skip-link.visually-hidden.focusable {
  background-color: #84653d;
  color: white; }

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  padding: 1em;
  top: 1em;
  left: 1em;
  z-index: 1;
  display: inline-block; }

@media (min-width: 768px) {
  .interior-content {
    width: 100%; } }

@media (min-width: 1440px) {
  .interior-content {
    width: 1440px; } }

@media screen and (max-width: 992px) {
  .interior-content {
    padding: 0; } }

.interior-content p, .interior-content ul, .interior-content ol, #comparisonchart th, #comparisonchart td, .cwd-scrolling-table {
  font-size: 14px; }

#comparisonchart th, #comparisonchart td {
  padding: 12px; }

#comparisonchart thead th, #comparisonchart thead td, .floating-col-header > div {
  white-space: nowrap;
  background-color: #78879d; }

.cwd-scrolling-table .floating-row-header {
  background-color: whitesmoke; }

.hero, .hero:hover {
  background-image: url("../images/bg-hero-home-t.jpg") !important; }

.hero .about {
  padding: 0 12px; }

.questions-header {
  padding: 10px 0 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid #a3e8fb; }

.services-header {
  padding-bottom: 15px; }

.interior-content h3, .interior-content .h3 {
  color: #555;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0; }

.services-header h3 {
  position: relative;
  text-indent: 30px;
  margin-left: -3px !important; }
  @media (max-width: 768px) {
    .services-header h3 {
      margin-left: 0 !important;
      text-indent: 0; } }

.services-header h3 .fa {
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 24px;
  color: #5e6caa;
  opacity: 0.4;
  text-indent: 0; }
  @media (max-width: 768px) {
    .services-header h3 .fa {
      display: none; } }

@media (max-width: 768px) {
  .btn-secondary {
    padding: 7px 24px; } }

.services-header .btn-secondary {
  margin: 4px 0; }

.step-1 + button {
  margin-top: 1.75em; }

.title {
  margin: 1.5em 0 0.35em; }

.title + .lead {
  color: #757575;
  font-size: 21px;
  margin-bottom: 1em; }

.cert {
  position: relative;
  text-indent: 24px;
  color: #78879d; }

.cert .fa {
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 22px;
  color: #5e6caa;
  opacity: 0.68;
  text-indent: 0; }

.app-title {
  margin-bottom: 2em; }

h2.sub-heading {
  font-size: 24px;
  margin: 1em 0 1em; }

h2.sub-heading.heading-services {
  margin-bottom: 0.5em; }

.section-break {
  border-color: #41cff7;
  opacity: 0.2;
  border-top-width: 3px;
  margin-top: 30px; }

.section-break.dashed {
  border-style: dashed; }

.email-options {
  margin-bottom: 0.75em; }
  .email-options legend {
    font-size: 1em;
    border-bottom: none;
    margin-bottom: 10px; }
  .email-options label {
    display: inline; }

#questionlist {
  font-size: 1em;
  padding-left: 2em; }
  #questionlist li {
    color: #84653d;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 1em;
    margin-left: 2px; }
  #questionlist .question-wrapper {
    margin: 10px 0; }
    #questionlist .question-wrapper a {
      font-size: 0.8em; }
      #questionlist .question-wrapper a .fa {
        margin: 0; }
    #questionlist .question-wrapper h4 {
      display: inline; }
  #questionlist h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2; }
  #questionlist label {
    font-weight: normal;
    font-size: 13px;
    color: #333;
    z-index: 1; }
  #questionlist input[type="checkbox"] {
    margin-top: 3px; }
  #questionlist .control-indicator {
    font-family: "FontAwesome";
    text-decoration: none;
    color: #757575;
    font-weight: normal; }
    #questionlist .control-indicator::before {
      content: '\f05a';
      display: inline-block; }
    #questionlist .control-indicator:hover::before {
      color: #8d8d8d; }
    #questionlist .control-indicator:active::before {
      color: #5a5a5a; }
  #questionlist .explanation {
    color: #757575;
    font-weight: normal;
    margin-bottom: 10px; }
    #questionlist .explanation, #questionlist .explanation p, #questionlist .explanation li {
      font-size: 13px; }
    #questionlist .explanation p, #questionlist .explanation li {
      margin-bottom: initial; }
    #questionlist .explanation .panel-title, #questionlist .explanation .panel-body {
      font-size: 12px;
      padding: 10px;
      margin: 0; }
    #questionlist .explanation .panel-heading {
      margin: 0;
      padding: 0;
      background-color: #5e6caa; }
    #questionlist .explanation .panel-heading, #questionlist .explanation .panel-primary {
      border-color: #38416a; }

.mismatch {
  opacity: 0.35; }

#modularstorage-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 -0.25em;
  padding: 0.25em 0; }
  #modularstorage-services .service-panel {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0.25em;
    width: calc(20% - 0.5em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #modularstorage-services .service-panel:focus-within {
      -webkit-box-shadow: 0px 0px 0px 4px #9dccfd;
      box-shadow: 0px 0px 0px 4px #9dccfd;
      border-radius: 0.5em; }
    #modularstorage-services .service-panel label {
      position: relative;
      width: 100%;
      height: 100%;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      padding: 1em;
      margin-bottom: 1px;
      z-index: 0; }
    #modularstorage-services .service-panel input {
      position: absolute;
      left: -9999px; }
      #modularstorage-services .service-panel input ~ .control-indicator {
        margin: 0;
        background-color: #e4e6f0;
        border: 2px #a1a9cd solid;
        border-radius: 0.25em;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        font-size: 2em; }
        #modularstorage-services .service-panel input ~ .control-indicator::before {
          content: "\f10c";
          font-family: "FontAwesome";
          display: block;
          color: #4a568b;
          font-weight: normal;
          margin-left: 0.25em;
          position: absolute;
          top: 10px;
          right: 10px; }
      #modularstorage-services .service-panel input:checked ~ .control-indicator {
        background-color: #a1a9cd; }
        #modularstorage-services .service-panel input:checked ~ .control-indicator::before {
          content: "\f058";
          color: #262d49; }
      #modularstorage-services .service-panel input:checked ~ h4, #modularstorage-services .service-panel input:checked ~ p {
        color: #2f3759;
        position: relative; }
    @media screen and (max-width: 1440px) {
      #modularstorage-services .service-panel {
        width: calc(25% - 0.5em); } }
    @media screen and (max-width: 1200px) {
      #modularstorage-services .service-panel {
        width: calc(33% - 0.5em); } }
    @media screen and (max-width: 992px) {
      #modularstorage-services .service-panel {
        width: calc(50% - 0.5em); } }
    #modularstorage-services .service-panel h4, #modularstorage-services .service-panel p {
      color: #414b7b;
      margin: 0; }
    #modularstorage-services .service-panel h4 {
      font-size: 18px; }
      @media (max-width: 768px) {
        #modularstorage-services .service-panel h4 {
          font-size: 15px; } }
    #modularstorage-services .service-panel .service-title {
      padding: 0;
      padding-right: 1.8em; }
      #modularstorage-services .service-panel .service-title + p {
        margin-top: 10px; }
    #modularstorage-services .service-panel p {
      font-size: 12px;
      padding-right: 1.8em; }

.comparisonlist-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1em 0; }
  .comparisonlist-wrapper input {
    position: absolute;
    left: -9999px; }
    .comparisonlist-wrapper input + .control-indicator::before {
      content: "\f111";
      font-family: "FontAwesome";
      display: block;
      color: #a1a9cd;
      margin-left: 0.25em; }
    .comparisonlist-wrapper input:checked + .control-indicator::before {
      content: "\f058";
      color: #5e6caa; }
  .comparisonlist-wrapper label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25em 0.4em 0.2em;
    margin: 0.25em;
    color: #4a568b;
    border: 1px solid #a1a9cd;
    margin: 0.25em;
    border-radius: 0.25em;
    cursor: pointer; }
    .comparisonlist-wrapper label:focus-within {
      -webkit-box-shadow: 0px 0px 0px 4px #9dccfd;
      box-shadow: 0px 0px 0px 4px #9dccfd;
      border-radius: 0.5em; }

.jump-to-chart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  background: #78879d;
  z-index: 2;
  display: none; }
  .jump-to-chart p {
    color: white; }
    .jump-to-chart p span {
      font-size: 120%; }

.btn-compare-results {
  white-space: nowrap; }

.pager {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: white; }
  .pager button {
    margin: 0.5em; }
  .pager .previous button {
    float: left; }
  .pager .next button {
    float: right; }

.popup .fa.fa-info-circle {
  font-family: "FontAwesome";
  text-decoration: none;
  color: #757575;
  font-weight: normal;
  font-size: 1.4em; }
  .popup .fa.fa-info-circle::before {
    content: '\f05a'; }
  .popup .fa.fa-info-circle:hover::before {
    color: #8d8d8d; }
  .popup .fa.fa-info-circle:active::before {
    color: #5a5a5a; }

.cd-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .cd-row {
      display: block; } }

.cd-row:first-of-type .cd-cell {
  vertical-align: bottom;
  padding-bottom: 15px; }

@media screen and (max-width: 768px) {
  .cd-cell {
    display: block;
    width: 100%; } }

.cd-cell:last-child {
  padding-left: 3%; }
  @media screen and (max-width: 768px) {
    .cd-cell:last-child {
      padding-left: 0; } }

.cd-questions {
  position: relative;
  width: 30%; }
  @media screen and (max-width: 768px) {
    .cd-questions {
      position: static;
      width: 100%; } }

.cd-services {
  width: 70%; }
  @media screen and (max-width: 768px) {
    .cd-services {
      width: 100%; } }

.cd-overflow {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-right: 1.5em; }
  @media screen and (max-width: 768px) {
    .cd-overflow {
      position: static;
      width: 100%;
      height: auto;
      overflow: visible;
      padding-right: 0; } }

.services-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .services-header {
      display: block; } }
  .services-header h3 {
    margin: 0 1em 0 0; }
    @media screen and (max-width: 768px) {
      .services-header h3 {
        margin: 1em 0; } }
  .services-header div:first-of-type {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  @media screen and (max-width: 768px) {
    .services-header div:last-of-type {
      margin-bottom: 1em; } }
  @media screen and (max-width: 768px) {
    .services-header div {
      width: 100%;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.form-control {
  border-color: #757575; }

ul.browser-default {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px; }

ul.browser-default li {
  list-style-type: initial; }

.answerselected {
  background-color: lightgreen; }

.col {
  width: 150px;
  display: inline;
  min-width: 150px; }

.blocker {
  background-color: #ffdddd; }

/* new CSTSM */
.notifications {
  background: #b24800;
  border-radius: 4px;
  position: absolute;
  right: -1%;
  padding: 0px 10px;
  margin-bottom: 10px;
  margin-left: -95px;
  cursor: default;
  z-index: 1;
  top: -2.5%; }

.notifications:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 151, 167, 0);
  border-top-color: #b24800;
  border-width: 16px;
  margin-left: -16px; }

.notifications li {
  padding: 7px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  list-style: none; }

.notifications li .material-icons {
  font-size: 18px; }

.notifications li span {
  display: inline-block;
  margin-left: 8px;
  font-size: 24px;
  color: white; }

#scroll-to-see-more.my-hidden {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  opacity: 0; }

#scroll-to-see-more.my-show {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  opacity: 1; }

ul.browser-default {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px; }

ul.browser-default li {
  list-style-type: initial; }

.answerselected {
  background-color: lightgreen; }

.col {
  width: 150px;
  display: inline;
  min-width: 150px; }

.blocker {
  background-color: #ffdddd; }

/* new CSTSM  */
.notifications {
  background: #b24800;
  border-radius: 4px;
  position: absolute;
  right: -1%;
  padding: 0px 10px;
  margin-bottom: 10px;
  margin-left: -95px;
  cursor: default;
  z-index: 1;
  top: -2.5%; }

.notifications:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 151, 167, 0);
  border-top-color: #b24800;
  border-width: 16px;
  margin-left: -16px; }

.notifications li {
  padding: 7px;
  color: white;
  font-size: 18px;
  list-style: none; }

.notifications li .material-icons {
  font-size: 18px; }

.notifications li span {
  display: inline-block;
  margin-left: 8px;
  font-size: 24px;
  color: white; }

#scroll-to-see-more.my-hidden {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  opacity: 0; }

#scroll-to-see-more.my-show {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  opacity: 1; }
